<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-left">Lista de Referidos</h2>
    </div>
  </div>
  <br/>
  <div class="table-container">
    <!-- Icono de carga -->
    <div *ngIf="cargandoReferidos" class="loading-overlay">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <!-- Tabla de referidos -->
    <table *ngIf="!cargandoReferidos" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Cédula</th>
          <th>Usuario</th>
         
          <th>Documento</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="scrollable-tbody">
        <tr *ngFor="let referido of referidos">
          <td>{{ referido.id }}</td>
          <td>{{ referido.user.cedula }}</td>
          <td>{{ referido.user ? referido.user.name : 'Usuario no especificado' }}</td>
          
          <td>
            <button type="button" class="btn btn-primary" (click)="downloadDocumento(referido.id)">Descargar Documento</button>
          </td>
          <td>{{ referido.estado }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editarReferidos(referido.id)">Autorizar</button>

            <button type="button" class="btn btn-danger" (click)="deleteReferido(referido.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
