<div class="container mx-auto p-6">
  <h2 class="text-3xl font-semibold text-center mb-6">Lista de Referidos</h2>

  <div class="table-container">
      <!-- Icono de carga -->
      <div *ngIf="cargandoReferidos" class="loading-overlay flex justify-center items-center h-64">
          <div class="spinner-border text-blue-500" role="status">
              <span class="visually-hidden">Cargando...</span>
          </div>
      </div>

      <!-- Tabla de referidos -->
      <table *ngIf="!cargandoReferidos" class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
          <thead class="bg-gray-100">
              <tr>
                  <th class="py-3 px-4 text-left text-gray-600">ID</th>
                  <th class="py-3 px-4 text-left text-gray-600">Cédula</th>
                  <th class="py-3 px-4 text-left text-gray-600">Usuario</th>
                  <th class="py-3 px-4 text-left text-gray-600">Documento</th>
                  <th class="py-3 px-4 text-left text-gray-600">Estado</th>
                  <th class="py-3 px-4 text-left text-gray-600">Acciones</th>
              </tr>
          </thead>
          <tbody class="text-gray-700">
              <tr *ngFor="let referido of paginatedReferidos()" class="hover:bg-gray-50">
                  <td class="py-2 px-4 border-b">{{ referido.id }}</td>
                  <td class="py-2 px-4 border-b">{{ referido.user.cedula }}</td>
                  <td class="py-2 px-4 border-b">{{ referido.user ? referido.user.name : 'Usuario no especificado' }}</td>
                  <td class="py-2 px-4 border-b">
                      <button type="button" class="bg-blue-600 text-white rounded-md p-1 hover:bg-blue-700" (click)="downloadDocumento(referido.id)">Descargar</button>
                  </td>
                  <td class="py-2 px-4 border-b">{{ referido.estado }}</td>
                  <td class="py-2 px-4 border-b">
                      <button type="button" class="bg-yellow-500 text-white rounded-md p-1 hover:bg-yellow-600" (click)="editarReferidos(referido.id)">Autorizar</button>
                      <button type="button" class="bg-red-600 text-white rounded-md p-1 hover:bg-red-700" (click)="deleteReferido(referido.id)">Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <div *ngIf="!cargandoReferidos" class="flex justify-center mt-3">
      <button (click)="prevPage()" [disabled]="currentPage === 1" class="bg-gray-300 text-gray-600 rounded-md px-4 py-2 mr-2" [class.opacity-50]="currentPage === 1">Anterior</button>
      <span class="self-center">Página {{ currentPage }} de {{ totalPages() }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="bg-gray-300 text-gray-600 rounded-md px-4 py-2 ml-2" [class.opacity-50]="currentPage === totalPages()">Siguiente</button>
  </div>
</div>
