h1 {
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Verdana;
}

body {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center;
    padding: 10px 20px; /* Añade espacio interno al contenedor del menú */
    background-color:  rgb(0, 10, 146); /* Fondo oscuro para el menú */
}

.logo-container {
    flex: -2; /* Ocupa todo el espacio restante */
    margin-right: 20px;
    /* Pequeño margen a la derecha para separar del menú */
}

.links-container {
    flex: -1; /* Ocupa la mayor parte del espacio */
    display: flex;
    justify-content: space-around; /* Distribuye los enlaces equitativamente */
    gap: 10px; /* Espacio entre los enlaces */
}

nav a {
    text-decoration: none;
    padding: 10px 15px; /* Reducir el padding para hacer los enlaces más compactos */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #ffffff;
}

nav button {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    background-color: red;
}
