<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<h1><span class="badge bg-secondary"></span></h1>

<nav>
    

    
    
<a href="/inicio/body" *ngIf="clave !=null">Usuarios</a> 

<a href="/incapacidades/index" *ngIf="clave !=null">Incapacidades</a> 





<button type="button" *ngIf="clave !=null" (click)="logout()"  id="logout">Cerrar Sesión</button>
<img src="https://storage.googleapis.com/mxm-2022/personalizacion/123399420963f51c1d9a4412.043673570.631880001677007901.png" alt="mxmx.LOGO">
</nav>