.menu{
    position: fixed;
    background-color: rgb(25, 80, 163);
    height: 15% ;
    width: 100% ;
    top: 0;
    text-align: center;
}
.body{
    position: fixed;
    height: 100%;
    width: 100% ;
    top: 20%;
  
    
}
.footer{
   
    height: 2%;
    width: 500% ;
    bottom: 0px;
    position: fixed;

}

