h1 {
  text-align: left;
  margin-top: 0; /* Eliminar margen superior del título */
  color: gray;
  font-family: Verdana;
}

.container {
  margin-top: 20px;
}

.label {
  margin-bottom: 5px;
}

.scroll-container {
  margin-top: 20px; /* Ajustar margen superior de la tabla */
}
