<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">



   



<H1>Incapacidades</H1>
<br/>


<button type="button" class="btn btn-primary"  (click)="downloadIncapacidades()">Descargar Incapacidades</button>

<input type="text"   [(ngModel)]="searchTerm" class="form-control" placeholder="Buscar por cédula" aria-label="Recipient's username" aria-describedby="basic-addon2">



<div class="scroll-container">
    <table class="table table-bordered  table table-hover">

        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Nombre </th>
                <th>Dias de incapacidad</th>
                <th>Fecha inicio incapacidad</th>
                <th>Aplica Cobro</th>
                <th>Entidad Afiliada</th>
                <th>Tipo de Incapacidad</th>
                <th>imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <!-- Aquí es donde necesitas aplicar el cambio -->
            <tr *ngFor="let incapacidad of filtrarIncapacidades()">
                <td>{{ incapacidad.id }}</td>
                <td>{{ incapacidad.user_id }}</td>
                <td>{{ incapacidad.name}}</td>
                <td>{{ incapacidad.dias_incapacidad }}</td>
                <td>{{ incapacidad.fecha_inicio_incapacidad }}</td>
                <td>{{ incapacidad.aplica_cobro }}</td>
                <td>{{ incapacidad.entidad_afiliada }}</td>
                <td>{{ incapacidad.tipo_incapacidad }}</td>
                <td>
                    <button type="button" class="btn btn-success" *ngIf="incapacidad.uuid" (click)="downloadImage(incapacidad.uuid!)">Descargar imagen</button>

                </td>
                
                <td>
                    
                    <button type="button" class="btn btn-danger"(click)="eliminarFeeds(incapacidad.id)">Eliminar</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
