<div class="container mx-auto p-6">
  <div class="mb-6">
    <h2 class="text-3xl font-semibold text-center">Lista de Usuarios</h2>
  </div>

  <div class="flex flex-col md:flex-row justify-between mb-4">
    <div class="mb-4 md:mb-0 md:w-3/5">
      <label for="search" class="block text-gray-700">Buscar Usuario por Cédula:</label>
      <input type="text" [(ngModel)]="searchTerm" id="search" class="border rounded-md w-full p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Buscar por cédula">
    </div>
    <div class="md:w-2/5 space-x-2">
      <label class="block text-gray-700 mb-2">Descargar lista Usuarios:</label>
      <button type="button" class="bg-blue-600 text-white rounded-md px-4 py-2" (click)="downloadUsers()">Descargar Usuarios</button>
    </div>
  </div>

  <div class="table-container">
    <!-- Icono de carga -->
    <div *ngIf="cargandoReferidos" class="loading-overlay flex justify-center items-center h-64">
      <div class="spinner-border text-blue-500" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <table *ngIf="!cargandoReferidos" class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-3 px-4 text-left text-gray-600">Nombre</th>
          <th class="py-3 px-4 text-left text-gray-600">Cédula</th>
          <th class="py-3 px-4 text-left text-gray-600">Email</th>
          <th class="py-3 px-4 text-left text-gray-600">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let user of paginatedUsers()" class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b">{{ user.name }}</td>
          <td class="py-2 px-4 border-b">{{ user.cedula }}</td>
          <td class="py-2 px-4 border-b">{{ user.email }}</td>
          <td class="py-2 px-4 border-b">
            <button type="button" class="bg-green-600 text-white rounded-md p-1 hover:bg-green-700" (click)="activarUser(user.id)" *ngIf="!user.is_active">Activar</button>
            <button type="button" class="bg-red-600 text-white rounded-md p-1 hover:bg-red-700" (click)="desactivarUser(user.id)" *ngIf="user.is_active">Desactivar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!cargandoReferidos" class="flex justify-center mt-4">
      <button class="bg-gray-400 text-white rounded-md px-4 py-2" (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <span class="mx-3">Página {{ currentPage }} de {{ totalPages() }}</span>
      <button class="bg-gray-400 text-white rounded-md px-4 py-2" (click)="nextPage()" [disabled]="currentPage === totalPages()">Siguiente</button>
    </div>
  </div>
</div>
