<div id="body">
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
            <h1>Inicio de sesion Portal Talento Humano</h1>
            <div class="input-group">
                <input type="text" formControlName="cedula" placeholder="Cédula">
            </div>
            <div class="input-group">
                <input type="password" formControlName="password" placeholder="Contraseña">
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
