<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-left">Lista de Cesantias Denegadas</h2>
        </div>
    </div>
    <br>

    <div class="table-container">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Tipo de Solicitud</th>
                    <th>Estado</th>
                  
                    <th>Acciones</th>
                </tr>
            </thead>
    
            <tbody class="scrollable-tbody">
                <tr *ngFor="let cesantia of listarCesantias">
                  <td>{{ cesantia.id }}</td>
                  <td>{{ cesantia.user.cedula }}</td>
                  <td>{{ cesantia.user.name }}</td>
                  <td>{{ cesantia.tipo_cesantia_reportada }}</td>
                  <td>{{ cesantia.estado }}</td>
                 
                </tr>
              </tbody>
              
              
    
        </table>
    </div>
    

</div>


